<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="logo"></span>
    <span class="menu">
        <ul fxLayout="row" fxLayoutAlign="center center">
            <li>Home</li>
            <li>Faça Parte</li>
            <li>Acessar Portal</li>
        </ul>
        <!-- <ul fxLayout="row" fxLayoutAlign="center center">
            <li>Experiência</li>
            <li>Controle da Assinatura</li>
            <li>Meus Pontos</li>
        </ul>
        <ul fxLayout="row" fxLayoutAlign="center center">
            <li>Perfil</li>
            <li>Atividades</li>
            <li>Cobrança</li>
        </ul> -->
    </span>
</div>