.container {
  height: 80px;
  background: rgba(255, 255, 255, 0.8);
}

.logo {
  width: 60px;
  height: 60px;

  margin: 0 20px 0 20px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
}

.menu {
  flex: auto;
  height: 50px;
  width: 150px;
  font-family: "Itim", cursive;
}

ul {
  display: block;
  margin: 5px;
  height: 40px;
}

ul li {
  display: inline;
  margin: 0px 20px;
  font-size: 18px;
}

ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
