<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="logo"></span>
    <span class="menu">

        <ul fxLayout="row" fxLayoutAlign="center center" *ngIf="menuVisible == 1">
            <li routerLink="" routerLinkActive="active">Home</li>
            <li routerLink="/facaparte" routerLinkActive="active">Faça Parte</li>
            <li routerLink="/acesso" routerLinkActive="active">Acessar Portal</li>
            <li (click)="portalAcess('user')">Acessar Portal Usuario</li>
            <li (click)="portalAcess('place')">Acessar Portal Estabelecimento</li>
        </ul>

        <ul fxLayout="row" fxLayoutAlign="center center" *ngIf="menuVisible == 2">
            <li routerLink="/usuario/experiencias" routerLinkActive="active">Experiência</li>
            <li routerLink="/usuario/controle" routerLinkActive="active">Controle da Assinatura</li>
            <li routerLink="/usuario/pontos" routerLinkActive="active">Meus Pontos</li>
            <li (click)="logout()">Sair</li>
        </ul>

        <ul fxLayout="row" fxLayoutAlign="center center" *ngIf="menuVisible == 3">
            <li routerLink="/estabelecimento/perfil" routerLinkActive="active">Perfil</li>
            <li routerLink="/estabelecimento/atividades" routerLinkActive="active">Atividades</li>
            <li routerLink="/estabelecimento/carteira" routerLinkActive="active">Cobrança</li>
            <li (click)="logout()">Sair</li>
        </ul>

    </span>
</div>