.container {
  height: 120px;
  background-color: #fff;
}

.logo {
  width: 100px;
  height: 100px;

  margin: 0 20px 0 20px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
}

.menu {
  flex: auto;
  height: 50px;
  width: 150px;
  font-family: "Itim", cursive;
}

ul {
  display: block;
  margin: 5px;
  height: 40px;
}

ul li {
  display: inline;
  margin: 0px 20px;
}

ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
