<div class="page" fxLayout="row" fxLayoutAlign="center center">
    <div class="container">
        <h1>Experiencias: {{selectedExperience}}</h1>

        <div class="grid" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img class="item" [src]="imageList[1]" (click)="gotoExperienceInfo(1)" />
            <img class="item" [src]="imageList[2]" (click)="gotoExperienceInfo(2)" />
            <img class="item" [src]="imageList[3]" (click)="gotoExperienceInfo(3)" />
            <img class="item" [src]="imageList[4]" (click)="gotoExperienceInfo(4)" />
        </div>

        <div class="grid" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img class="item" [src]="imageList[5]" (click)="gotoExperienceInfo(5)" />
            <img class="item" [src]="imageList[6]" (click)="gotoExperienceInfo(6)" />
            <img class="item" [src]="imageList[7]" (click)="gotoExperienceInfo(7)" />
            <img class="item" [src]="imageList[8]" (click)="gotoExperienceInfo(8)" />
        </div>
        <div class="grid" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img class="item" [src]="imageList[9]" (click)="gotoExperienceInfo(9)" />
            <img class="item" [src]="imageList[10]" (click)="gotoExperienceInfo(10)" />
            <img class="item" [src]="imageList[11]" (click)="gotoExperienceInfo(11)" />
            <img class="item" [src]="imageList[12]" (click)="gotoExperienceInfo(12)" />

        </div>

    </div>
</div>