<div class="page" fxLayout="row" fxLayoutAlign="center center">
    <div class="container">
        <h1>Experiencias: {{selectedExperience}}</h1>

        <div class="grid" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img class="item" [src]="imageList[1]" />
            <img class="item" [src]="imageList[2]" />
            <img class="item" [src]="imageList[3]" />
            <img class="item" [src]="imageList[4]" />
        </div>

        <div class="grid" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img class="item" [src]="imageList[5]" />
            <img class="item" [src]="imageList[6]" />
            <img class="item" [src]="imageList[7]" />
            <img class="item" [src]="imageList[8]" />
        </div>
        <div class="grid" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img class="item" [src]="imageList[9]" />
            <img class="item" [src]="imageList[10]" />
            <img class="item" [src]="imageList[11]" />
            <img class="item" [src]="imageList[12]" />

        </div>

    </div>
</div>