<div class="page" fxLayout="row" fxLayoutAlign="center center">
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
        <div class="container-col">
            <h1>Formulário</h1>
            <form class="contentCenter">
                <input class="lineForm" type="text" id="nasc" placeholder="Cidade">
                <input class="lineForm" type="text" id="name" placeholder="Nome Completo">
                <input class="lineForm" type="text" id="rg" placeholder="RG">
                <input class="lineForm" type="text" id="cpf" placeholder="CPF">
                <input class="lineForm" type="text" id="nasc" placeholder="Data de Nascimento">
                <input class="lineForm" type="text" id="nasc" placeholder="Telefone de Contato">

            </form>

            <span class="btn subscribe">
                Assinar
            </span>

        </div>
        <div class="container-col">
            <h1>Política de membros e parceiros</h1>

            <p class="contentCenter">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
                utilizado desde o
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
                utilizado desde o
                século XVI, quando um impressor desconhecido
            </p>

            <span class="btn politica">
                Ver política completa
            </span>

        </div>
    </div>
</div>